*.lo
*.o
*.la
*.al
*.a
*.so
Makefile
Makefile.in
.deps/
.libs/
/acinclude.m4
/aclocal.m4
/autom4te.cache
/compile
/missing
/stamp-h1
/config.*
/configure
/depcomp
/install-sh
/libtool
/*.pc
/*config.h
/*config.h.in
/*config.h.in~
/src/*.pc
/src/cairo-features.h
/src/cairo-supported-features.h
/util/cairo-trace/cairo-trace

/boilerplate/Makefile.am.features
/boilerplate/Makefile.win32.features
/boilerplate/cairo-boilerplate-constructors.c
/build/Makefile.win32.features
/build/Makefile.win32.features-h
/src/Makefile.am.features
/src/Makefile.win32.features
/perf/cairo-analyse-trace
/perf/cairo-perf-micro
/perf/cairo-perf-trace
/test/any2ppm
/test/cairo-test-suite
/test/cairo-test-constructors.c

/build/gtk-doc.m4
/doc/public/cairo-decl-list.txt
/doc/public/cairo-decl.txt
/doc/public/cairo-undeclared.txt
/doc/public/cairo-undocumented.txt
/doc/public/cairo-unused.txt
/doc/public/cairo.args
/doc/public/cairo.hierarchy
/doc/public/cairo.interfaces
/doc/public/cairo.prerequisites
/doc/public/cairo.signals
/doc/public/html-build.stamp
/doc/public/html.stamp
/doc/public/scan-build.stamp
/doc/public/sgml-build.stamp
/doc/public/sgml.stamp
/doc/public/xml/api-index-1.17.xml
/doc/public/xml/cairo-doc.bottom
/doc/public/xml/cairo-doc.top
/doc/public/xml/object_index.sgml
/doc/public/xml/tree_index.sgml
/gtk-doc.make

