*.lo
*.o
*.la
*.al
*.a
*.so
Makefile
Makefile.in
.deps/
.libs/
/acinclude.m4
/aclocal.m4
/autom4te.cache
/compile
/missing
/stamp-h1
/config.*
/configure
/depcomp
/install-sh
/libtool
/*.pc
/*config.h
/*config.h.in
/*config.h.in~
/src/*.pc
/src/cairo-features.h
/src/cairo-supported-features.h
/util/cairo-trace/cairo-trace

/boilerplate/Makefile.am.features
/boilerplate/Makefile.win32.features
/boilerplate/cairo-boilerplate-constructors.c
/build/Makefile.win32.features
/build/Makefile.win32.features-h
/src/Makefile.am.features
/src/Makefile.win32.features
/perf/cairo-analyse-trace
/perf/cairo-perf-micro
/perf/cairo-perf-trace
/test/any2ppm
/test/cairo-test-suite
/test/cairo-test-constructors.c
